<div class="container">
  <div class="box">
    <ul class="list-group">
      <h4><%= @restaurant.name %></h4>
      <% @restaurant.reviews.each do |review| %>
        <p>Reviews:</p><li class="list-group-item"><%= review.content %></li>
      <% end %>
      <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
    </ul>
  </div>
</div>
